/** === Variables === **/
:root {
  /* Colores */
  --main-gray-ligth:  #F5F5F5;
  --clr-grey: #808080;

  /* Fonts */
  --ff-primary: 'Poppins', sans-serif;
  --ff-secundary: 'Raleway', sans-serif;
  /* Shadows */
  --shadow-primary: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-secondary: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-tertiary: 0 0 10px rgba(0, 0, 0, 0.4);
  /* Border */
  --default-radious-border: 0.5rem;

  /* Tama;os bloques */
  --header-height-size: 10vh;
  --footer-height-size: 5vh;
}
/** === Establecemos una configuracion incial del css === **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: var(--ff-primary);
  line-height: 1.4;
  scroll-behavior: smooth;
  
}
body {
  font-size: 1rem;
  width: 100%;
  /* min-height: 100vh; */
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
select {
  cursor: pointer;
}
select,
textarea,
input:not([type="submit"]),
label[for="imagen"]{
  border-radius: var(--default-radious-border);
  border: 1px solid #ccc;
  box-shadow: var(--shadow-primary);
  padding: 0.5rem;
  color: #000;
  font-size: 1.6rem;
  width: 100%;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: burlywood;
}
button, input[type="submit"] {
  width: 100%;
  height: 3rem;
  border: 1px solid transparent;
  box-shadow: var(--shadow-primary);
  border-radius: 2rem;
  cursor: pointer;
  background-color: burlywood;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #000;  
  transition: none;
}
button:hover, input[type="submit"]:hover{
  transform: scale(1.02);
}
h3 {
  font-size: 3rem;
}
p, img, label {
  font-size: 1.6rem;
}




/** === Estilos === **/
/* BODY */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height-size) 1fr var(--footer-height-size);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}
/* MAIN */
.main {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 0;
}
.contenido {
  display: flex;
  max-width: 80vw;
  min-height: 100%;
}
/* Menu de Filtros */
.filtros {
  /* Estaria bueno que la seccion de filtros acompa;e para q el usuario no tenga q subir para seleccionar los filtros */
  /* O poner un boton (flecha en alguna esquina inferior) para que suba al inicio de la pagina no se*/
  background-color: aliceblue;
  width: 20vh;
  min-width: 165px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.filtros form .titulo-filtro {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--cl-second-olive);
  padding-bottom: 1rem;
  display: inline-block;
}
.filtros form > div {
  margin: 0 0 4rem 0;
}


/* Juegos */
.juegos {
  width: calc(100% - 20vh);
  min-width: 500px;
  background-color: bisque;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.juegos .ordenamiento_juego {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1rem;
}
.juegos select {
  width: 7rem;
  text-transform: capitalize;
}
.bloque-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
}
.juego {
  border-radius: 1rem;
  box-shadow: var(--shadow-secondary);
  overflow: hidden;
  --padding: 1.5rem 2rem;
}
.juego .header-juego {
  overflow: hidden;
}
.juego .header-juego > img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}
.juego:hover > .header-juego > img {
  transform: scale(1.035);
  transition: 0.3s transform ease-in-out;
}
.juego .contenido-juego {
  background-color: #F8F8FF;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.juego .contenido-juego .contenedor-titulo-juego {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.juego .contenido-juego .titulo-juego {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;  
}
.subrallado {
  width: 100%;
  border: 2px solid #FFA07A;
  border-radius: 999px;
  display: inline-block; /* Esto hace que el div ocupe solo el espacio necesario */
}

.juego .contenido-juego .descripcion-juego {
  border-block: 2px solid #787878;
  text-align: justify;
}
.juego .contenido-juego ul {
  padding-inline: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 4rem;
}
.juego .contenido-juego li {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  list-style-type: circle;
}

.juego .contenido-juego .contenido-subtitulo {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: capitalize;
}





