.nav-list li:nth-child(1) {
  margin-right: 0;
}
.contenido {
  min-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-agregar {
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  background-color: var(--clr-tercero);
  box-shadow: var(--shadow-default);
  border-radius: var(--default-radious-border);
  height: fit-content;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
}
.form-agregar > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
label:not([for="imagen"]), p  {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
input[type="text"],
input[type="file"],
textarea,
select,
label[for="imagen"] {
  padding: 1rem;
}
input:focus + label,
label[for="imagen"]:focus {
  outline: none;
  border-color: var(--clr-primero);
} 

textarea {
  font-family: var(--ff-primero);
  min-height: 55px;
  height: 100px;
  max-height: 200px;
  min-width: 100%;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label[for="imagen"] {
  color: #8c8c8c; /* es el color de placholde por defecto de edge */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
label[for="imagen"]:hover {
  background-color: #e0e0e0;
  border-color: var(--clr-primero);
}
.form-agregar > input[type="submit"] {
  max-width: 200px;
  align-self: center;
  color: var(--clr-blanco);
}

select option {
  padding: 5px;
  text-align: center;
}


